<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<body>

    <div layout:fragment="content">
        <div class="container mt-4">
        <h2>About Us</h2>
        <p>DevDiscourse Inc.</p>
        
        <hr>
        <h3>Elias Cruz</h3>
        <p> I am currently 24 years old and born and raised in Phoenix, AZ. 
            I have two dogs, one of the is a corgi/lab mixed and a golden/lab mixed. 
            I am finishing up my bachelors after taking a break and switching my major a couple of time times.</p>

        <hr>
        <h3>Scott Maxwell</h3>
        <p>I currently work doing Software Development, QA, and support. 
            I hope to work fully as a developer soon.
            Before GCU, I attended Lambda School also known as BloomTech for Data Science.
            In my free time, I like to 3D print things, skateboard, and create music. 
            I also like to follow open source projects like Asahi Linux and Gnome Mobile.</p>

        <hr>
        <h3>Dioukou Sissoko</h3>
        <p> I am currently pursuing my degree in Software development with a focus on Cybersecurity. 
            I love playing basketball and soccer in my free time. 
            I am currently busy with work and keeping up with school assignments. 
            I am a tech enthusiast and I enjoy learning anything about advanced tech topics such as robotics and augmented reality. 
            I am always excited to meet new people.</p>

    </div>

</body>
</html>
