<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<body>

    <div layout:fragment="content" class="container">

        <!-- If user is not loggd in -->
        <div th:if="${!authenticated}" align="center">
            <h1>Welcome to DevDiscourse!</h1>
            <p>We build very cool projects every day!</p>
            <a type="button" class="btn btn-primary" th:href="login">Login</a>
            <a type="button" class="btn btn-primary" th:href="register">Register</a>
        </div>

        <!-- If user is logged in -->
        <div th:if="${authenticated}">
            <h1 align="center">All Blog Posts</h1>
            <div class="row">
                <div class="col-md-4" th:each="post : ${blogposts}">
                    <div class="card" style="width: 18rem; padding-bottom: 10px; padding-right: 10px;">
                        <img class="card-img-top" src="/images/post.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${post.title}">Card title</h5>
                            <h6 class="card-subtitle mb-2 text-muted" th:text="${post.date}">Date</h6>
                            <p class="card-text" th:text="${post.author}">Author</p>
                            <a href="#" class="btn btn-secondary">See Post</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

</div>
</body>
</html>


