<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/defaultTemplate">
<body>
    <div layout:fragment="content" align="center">
    
        <div class="container mt-4">
            <h2>Login</h2>
            <form th:action="@{doLogin}" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required style="max-width: 250px;">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" placeholder="Password" name="password" required style="max-width: 250px;">
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top:40px;" align="center">Submit</button>
            </form>
        </div>
    </div>

</body>
</html>

